<h1> ASSIGNMENT 2<h1>

1. Question 1:
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [1]:
age=25

print("data type of age variable :",type(age),f"value of age is {age}")

data type of age variable : <class 'int'> value of age is 25

2. Question 2:
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [2]:
price=12.5
print(type(price),"price value is",price)

price=12
print(type(price),"price value is",price)

<class 'float'> price value is 12.5
<class 'int'> price value is 12

3. Question 3:
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.

In [3]:
is_raining=True
print(type(is_raining),f"variable is_raining: {is_raining}")

<class 'bool'> variable is_raining: True

4. Question 4:
Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes ' .

In [4]:
my_name="harshad kisan shitole"
print('my_name')

my_name

5. Question 5:
Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
integer.

In [5]:
Name=input("enter your name ")
Age=int(input("enter the age "))

print(f"{Name}! You are {Age} years old.")

ValueError: invalid literal for int() with base 10: ''

6. Question 6:
Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.

In [ ]:
x=10
y=3.5
print(f" value of x is {x}",type(x))
print(f" \nvalue of y is {y}",type(y))

sum_xy=(x+y)

print(f"\nsum of {x} and {y} is {sum_xy} \ndata type is :",type(sum_xy))

 value of x is 10 <class 'int'>

value of y is 3.5 <class 'float'>

sum of 10 and 3.5 is 13.5
data type is : <class 'float'>

7. Question 7:
Using the type() function, check and print the data type of the following:
45.0
"hello"
None
False

In [7]:
print("value 45 data type is :",type(45))
print("value 'hello' data type is :",type("hello"))

value 45 data type is : <class 'int'>
value 'hello' data type is : <class 'str'>

8. Question 8:
Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.

In [8]:
print("apple", "banana", "cherry")

apple banana cherry

9. Question 9:
Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?

In [ ]:
big_number = 987654321987152272
print(f"vale of big number is :{big_number}",type(big_number))

vale of big number is :987654321987152272727272872809999999999999992992929999292929292929292992929292929999999999999999999999999229282982678256725254552526262622627272654321 <class 'int'>

10. Question 10:
Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.

In [16]:
a=(2.5 * 3.7)
print(f"multipliaction of two float is :{a}",type(a))

multipliaction of two float is :9.25 <class 'float'>